@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@*@ViewData["Title"]*@Şifre değiştirildi.</h1>
<p>
    Şifreni değiştirdin. Lütfen <a asp-page="./Login">Giriş için buraya tıklayın.</a>.
</p>
